$color-text: #5D5D5D;
$wrap: 1140px;
$img_width: 300px;
*{
    box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
body{
    background-color: #fff;
    color: $color-text;
}
.wrap{
    width: $wrap;
    margin: 0 auto;
}
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/about.scss";
.about_us_wrap{
    margin-top: 30px;
    height: 600px;
    padding-top: 30px;
    h2 {
        text-align: center;
    }
    p{
        font-size: 30px;
    }
}
.footer{
    height: 80px;
    background-color: #222;
    color: #deffde;
    &_wrap{
        display: flex;
        align-items: center;
        height: 100%;
    }
    p {
        font-size: 15px;
        margin-left: 15%;
        color: white;
    }
}